.rkbdqyjcwwkgd {
    color: #818080;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding-left: 14px;
    padding-right: 2px;
    font-family: Inter, Arial;
    font-size: .75rem;
    font-weight: 500;
    line-height: 18px;
    display: flex;
  }
  
  .aujhnwfnzpovx {
    width: 22px;
    height: 22px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  
  .kafczdcthkwvl {
    color: #ba5a23;
    font-size: 1rem;
    font-weight: 900;
    line-height: 24px;
  }
  
  .kvszuiukmyvma {
    margin-left: 5px;
  }
  
  .rectangle-37 {
    width: 90%;
    background-color: #d9d9d900;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    display: flex;
  }
  
  .pefvegxobudgp {
    margin-left: 5px;
  }
  
  .rectangle-37-1 {
    width: 90%;
    background-color: #d9d9d900;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    display: flex;
  }
  
  .flex-container {
    color: #000;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 223px;
    display: flex;
  }
  
  .pngegg-3 {
    width: 35px;
    height: 35px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  
  .cvjypnwymajlz {
    margin-top: 1px;
  }
  
  .rectangle-30 {
    color: #fff;
    width: 90%;
    background-color: #fc833d;
    border: none;
    border-radius: 7px;
    flex-direction: row;
    flex-basis: 6%;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 27px;
    padding-top: 1px;
    font-family: Inter, Arial;
    font-size: .8rem;
    font-weight: 500;
    line-height: 19px;
    display: flex;
  }