.qwnfduymznzzs {
    color: #818080;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 35px;
    padding-bottom: 8px;
    padding-left: 20px;
    font-family: Inter, Arial;
    font-size: .75rem;
    font-weight: 500;
    line-height: 18px;
    display: flex;
  }
  
  .agxlfkcqzwmvd {
    text-align: center;
    color: #ba5a23;
    align-self: center;
    margin-top: 2px;
    margin-bottom: 28px;
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 29px;
  }
  
  .wozbwkaazgnmb {
    margin-top: 3px;
    margin-left: 5px;
  }
  
  .rectangle-37 {
    width: 90%;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    display: flex;
  }
  
  .e-mail {
    margin-left: 5px;
  }
  
  .rectangle-37-1 {
    width: 90%;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    display: flex;
  }
  
  .hlalkxrnpaxnu {
    margin-left: 5px;
  }
  
  .rectangle-37-2 {
    width: 90%;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    display: flex;
  }
  
  .pelilkbasezwp {
    margin-left: 4px;
  }
  
  .rectangle-37-3 {
    width: 90%;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    display: flex;
  }
  
  .spmvkbvuyjoqq {
    margin-left: 5px;
  }
  
  .rectangle-37-4 {
    width: 90%;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    margin-bottom: 67px;
    display: flex;
  }
  
  .rectangle-48 {
    color: #fff;
    width: 90%;
    background-color: #fc833d;
    border: none;
    border-radius: 11px;
    flex-direction: row;
    flex-basis: 7%;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 9px;
    padding-top: 1px;
    font-family: Inter, Arial;
    font-size: .8rem;
    font-weight: 500;
    line-height: 19px;
    display: flex;
  }
  
  .kwigtqcritofl {
    margin-top: 1px;
  }