.dalwfagavfhxi {
    color: #818080;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-left: 20px;
    font-family: Inter, Arial;
    font-size: .75rem;
    font-weight: 500;
    line-height: 18px;
    display: flex;
  }
  
  .fffsvzxuldbae {
    text-align: center;
    color: #ba5a23;
    align-self: center;
    margin-bottom: 49px;
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 29px;
  }
  
  .andiuqrbgiztu {
    margin-top: 1px;
    margin-bottom: 4px;
    margin-left: 5px;
  }
  
  .rectangle-37 {
    width: 90%;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    margin-bottom: 14px;
    display: flex;
  }
  
  .hoyjyltvycttg {
    margin-bottom: 4px;
    margin-left: 5px;
  }
  
  .rectangle-37-1 {
    width: 90%;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    margin-bottom: 14px;
    display: flex;
  }
  
  .mearkcobgseuq {
    margin-bottom: 4px;
    margin-left: 5px;
  }
  
  .rectangle-37-2 {
    width: 90%;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    margin-bottom: 14px;
    display: flex;
  }
  
  .fttixrdlimbtr {
    margin-bottom: 4px;
    margin-left: 5px;
  }
  
  .rectangle-37-3 {
    width: 90%;
    background-color: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    margin-bottom: 116px;
    display: flex;
  }
  
  .rectangle-48 {
    color: #fff;
    width: 90%;
    background-color: #fc833d;
    border: none;
    border-radius: 11px;
    flex-direction: row;
    flex-basis: 7%;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding-top: 1px;
    font-family: Inter, Arial;
    font-size: .8rem;
    font-weight: 500;
    line-height: 19px;
    display: flex;
  }
  
  .qgyouokzuzard {
    margin-top: 1px;
  }