

.wzixxyxzqjwlf {
    text-align: center;
    margin-left: 17px;
  }
  
  .zwcmvwkfiodbl {
    margin-left: 17px;
  }
  
  .line-181 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    align-self: center;
    margin-bottom: 11px;
  }
  
  .vacozjqcxglry {
    text-align: center;
    margin-top: 1px;
    margin-left: 6px;
    font-size: .8rem;
    font-weight: 700;
    line-height: 19px;
  }
  
  .lelbqsheufcmj {
    text-align: center;
    margin-left: 17px;
  }
  
  .oaotzssotyidt {
    margin-left: 17px;
  }
  
  .line-18 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    align-self: center;
  }
  
  .flex-container {
    width: 95%;
    flex-direction: row;
    flex-basis: 7%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    margin-bottom: 2px;
    display: flex;
  }
  
  .rectangle-48, .rectangle-48-1 {
    text-align: center;
    color: #fff;
    height: 100%;
    background-color: #fc833d;
    border: none;
    border-radius: 11px;
    flex-direction: row;
    flex-basis: 49%;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    padding-right: 1px;
    font-family: Inter, Arial;
    font-size: .7rem;
    font-weight: 600;
    line-height: 17px;
    display: flex;
  }