.cdirzswmwuwrz {
    color: #000;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 1px;
    font-family: Inter, Arial;
    font-size: .75rem;
    font-weight: 500;
    line-height: 18px;
    display: flex;
  }
  
  .rectangle-59 {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 1px;
  }
  
  .jjzfhuevimfbr {
    color: #9f4d1e;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
  }
  
  .idujjlkircwdn {
    text-align: center;
    color: #9f4d1e;
    font-size: .8rem;
    line-height: 19px;
  }
  
  .qsbbxmoqfrymk {
    text-align: center;
    color: #818080;
    margin-bottom: 26px;
  }
  
  .flex-container {
    width: 85%;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    margin-left: 7px;
    display: flex;
  }
  
  .wpcrfnuenghva {
    width: 22px;
    height: 22px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    align-self: flex-start;
  }
  
  .kdzyorkxpwkov {
    width: 22px;
    height: 22px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    align-self: flex-end;
    margin-left: 51px;
  }
  
  .line-9 {
    width: 319px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    margin-bottom: 4px;
  }
  
  .flex-container-1 {
    width: 85%;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1px;
    margin-left: 9px;
    display: flex;
  }
  
  .enukgocdpyesq {
    width: 20px;
    height: 24px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    align-self: flex-start;
  }
  
  .tweyzdistpdxt {
    align-self: center;
  }
  
  .dfcsyhsbvzlbi {
    width: 22px;
    height: 22px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-left: 59px;
  }
  
  .line-92 {
    width: 319px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
  }
  
  .flex-container-2 {
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 2px;
    display: flex;
  }
  
  .pngegg-6-1 {
    width: 31px;
    height: 31px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  
  .uoblmzschifip {
    align-self: center;
    margin-top: 2px;
  }
  
  .zpxtrenyykotq {
    width: 22px;
    height: 22px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-left: 71px;
  }
  
  .line-91 {
    width: 319px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
  }
  
  .flex-container-3 {
    width: 85%;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3px;
    margin-left: 6px;
    display: flex;
  }
  
  .kmbsmbrwafrdh {
    width: 23px;
    height: 23px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    align-self: flex-start;
  }
  
  .jypgxypsvhxnq {
    align-self: center;
    margin-bottom: 1px;
  }
  
  .nmfqyedbtlgfk {
    width: 22px;
    height: 22px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-left: 74px;
  }
  
  .line-10 {
    width: 319px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
  }
  
  .flex-container-4 {
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3px;
    margin-left: 5px;
    display: flex;
  }
  
  .hogqwjwuqipid {
    width: 25px;
    height: 25px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  
  .xlnknoxmmrliv {
    align-self: center;
    margin-top: 1px;
  }
  
  .rvvlhzxwoqewx {
    width: 22px;
    height: 22px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-left: 57px;
  }
  
  .line-101 {
    width: 319px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
  }
  
  .flex-container-5 {
    width: 85%;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4px;
    margin-left: 6px;
    display: flex;
  }
  
  .pngegg-2-1 {
    width: 24px;
    height: 24px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    align-self: flex-start;
  }
  
  .fxaphwdmzdjaj {
    align-self: center;
  }
  
  .htsuuphqndrqg {
    width: 22px;
    height: 22px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-left: 54px;
  }
  
  .line-102 {
    width: 319px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    margin-top: 1px;
    margin-bottom: 3px;
  }