.fdryuiefpzshd {
    color: #000;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 8px;
    font-family: Inter, Arial;
    font-size: .7rem;
    font-weight: 400;
    line-height: 17px;
    display: flex;
  }
  
  .itluynsipiqaw {
    width: 22px;
    height: 22px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-bottom: 4px;
  }
  
  .vifosakuluqlw {
    color: #ba5a23;
    margin-top: 1px;
    margin-left: 1px;
    font-size: 1rem;
    font-weight: 900;
    line-height: 24px;
  }
  
  .rectangle-59 {
    width: 157px;
    height: 157px;
    object-fit: cover;
    border-radius: 11px;
    align-self: center;
    margin-bottom: 5px;
  }
  
  .bhxfmiepohkhp {
    margin-top: 1px;
    margin-left: 12px;
  }
  
  .rectangle-91 {
    color: #818080;
    width: 95%;
    background-color: #fff;
    border: 1px solid #fc833d;
    border-radius: 7px;
    flex-direction: row;
    flex-basis: 10%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    font-family: Inter, Arial;
    font-size: .65rem;
    font-weight: 400;
    line-height: 16px;
    display: flex;
  }
  
  .afmtftzvjenct {
    margin-left: 12px;
  }
  
  .rectangle-91-1 {
    color: #818080;
    width: 95%;
    background-color: #fff;
    border: 1px solid #fc833d;
    border-radius: 7px;
    flex-direction: row;
    flex-basis: 10%;
    justify-content: flex-start;
    align-self: center;
    align-items: stretch;
    margin-bottom: 6px;
    font-family: Inter, Arial;
    font-size: .65rem;
    font-weight: 400;
    line-height: 16px;
    display: flex;
  }
  
  .flex-container {
    color: #818080;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    display: flex;
  }
  
  .num-250 {
    color: #000;
  }
  
  .oderkcwsrrgbb {
    font-size: .65rem;
    line-height: 16px;
  }
  
  .flex-container-1 {
    color: #818080;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    font-size: .65rem;
    line-height: 16px;
    display: flex;
  }
  
  .num-500 {
    color: #000;
    font-size: .7rem;
    line-height: 17px;
  }
  
  .flex-container-2 {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    margin-bottom: 19px;
    display: flex;
  }
  
  .jspymkhoorgdf {
    color: #818080;
    font-size: .65rem;
    line-height: 16px;
  }
  
  .flex-container-3 {
    width: 90%;
    flex-direction: row;
    flex-basis: 7%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    margin-top: 1px;
    display: flex;
  }
  
  .rectangle-48 {
    color: #fff;
    height: 100%;
    background-color: #fc833d;
    border: none;
    border-radius: 11px;
    flex-direction: row;
    flex-basis: 59%;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    font-family: Inter, Arial;
    font-size: .8rem;
    font-weight: 500;
    line-height: 19px;
    display: flex;
  }
  
  .rectangle-48-1 {
    color: #cd5815;
    height: 100%;
    background-color: #fff;
    border: 1px solid #fc833d;
    border-radius: 11px;
    flex-direction: row;
    flex-basis: 38%;
    justify-content: center;
    align-items: center;
    padding-right: 1px;
    font-family: Inter, Arial;
    font-size: .8rem;
    font-weight: 500;
    line-height: 19px;
    display: flex;
  }