.acmgylfsrthue {
    color: #818080;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 16px 2px 15px;
    font-family: Inter, Arial;
    font-size: .65rem;
    font-weight: 600;
    line-height: 16px;
    display: flex;
  }
  
  .flrjiqxxrulyq {
    width: 22px;
    height: 22px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    align-self: flex-start;
    margin-bottom: 8px;
  }
  
  .ovatbfvxzixuy {
    color: #cd5815;
    align-self: flex-start;
    margin-bottom: 2px;
    margin-left: 1px;
    font-size: 1rem;
    font-weight: 900;
    line-height: 24px;
  }
  
  .flex-container {
    color: #ba5a23;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: .75rem;
    line-height: 18px;
    display: flex;
  }
  
  .qmgrtzrrmbscj {
    margin-bottom: 2px;
    margin-right: 61px;
  }
  
  .rectangle-62 {
    color: #818080;
    height: 100%;
    background-color: #d9d9d900;
    border: 2px solid #d9d9d9;
    border-radius: 7px;
    flex-direction: row;
    flex-basis: 27%;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 20px;
    font-family: Inter, Arial;
    font-size: .6rem;
    font-weight: 400;
    line-height: 15px;
    display: flex;
  }
  
  .qtvyugyrkkgql {
    color: #818080;
    align-self: center;
    margin-top: 2px;
    font-size: .6rem;
    font-weight: 400;
    line-height: 15px;
  }
  
  .group-5 {
    width: 23px;
    height: 24px;
    object-fit: cover;
  }
  
  .flex-container-1 {
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    align-items: stretch;
    display: flex;
  }
  
  .rectangle-64, .rectangle-65 {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 7px;
  }
  
  .line-18 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
  }
  
  .flex-container-2 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 3px;
    display: flex;
  }
  
  .ajklzuhuqbucc {
    margin-top: 1px;
    margin-right: 9px;
  }
  
  .rectangle-67 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border: 2px solid #f0ae87;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  .group-79 {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .line-19 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
  }
  
  .flex-container-3 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 3px;
    display: flex;
  }
  
  .znwhvxagmkvus {
    margin-top: 1px;
    margin-right: 9px;
  }
  
  .group-80 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-left: 5px;
  }
  
  .group-79-1 {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .line-191 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
  }
  
  .flex-container-4 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 1px;
    margin-left: 3px;
    display: flex;
  }
  
  .tajelcchapldz {
    margin-top: 1px;
    margin-right: 9px;
  }
  
  .rectangle-67-1 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border: 2px solid #f0ae87;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  .rectangle-68 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border: 2px solid #f0ae87;
    border-radius: 5px;
  }
  
  .line-197 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
  }
  
  .flex-container-5 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 1px;
    margin-left: 3px;
    display: flex;
  }
  
  .yjuciiwimcvoc {
    margin-top: 1px;
    margin-right: 9px;
  }
  
  .rectangle-67-2 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border: 2px solid #f0ae87;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  .group-79-2 {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .line-1910 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    margin-top: 1px;
  }
  
  .flex-container-6 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 1px;
    margin-left: 3px;
    display: flex;
  }
  
  .ocivsladtbtbx {
    margin-top: 1px;
    margin-right: 9px;
  }
  
  .group-80-1 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-left: 5px;
  }
  
  .group-79-3 {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .line-192 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    margin-top: 1px;
  }
  
  .flex-container-7 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 1px;
    margin-left: 3px;
    display: flex;
  }
  
  .lqccszaqsewcn {
    margin-top: 1px;
    margin-right: 9px;
  }
  
  .group-80-2 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-left: 5px;
  }
  
  .group-79-4 {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .line-193 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    margin-top: 1px;
  }
  
  .flex-container-8 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 1px;
    margin-left: 3px;
    display: flex;
  }
  
  .toiclukusjnef {
    margin-top: 1px;
    margin-right: 9px;
  }
  
  .rectangle-67-3 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border: 2px solid #f0ae87;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  .rectangle-68-1 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border: 2px solid #f0ae87;
    border-radius: 5px;
  }
  
  .line-198 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    margin-top: 1px;
  }
  
  .flex-container-9 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 3px;
    display: flex;
  }
  
  .whmwukuydwnfj {
    margin-top: 1px;
    margin-right: 9px;
  }
  
  .rectangle-67-4 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border: 2px solid #f0ae87;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  .rectangle-68-2 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border: 2px solid #f0ae87;
    border-radius: 5px;
  }
  
  .line-199 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
  }
  
  .flex-container-10 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 3px;
    display: flex;
  }
  
  .crpwfimylfhzp {
    margin-top: 1px;
    margin-right: 9px;
  }
  
  .group-80-3 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-left: 5px;
  }
  
  .group-79-5 {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .line-194 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
  }
  
  .flex-container-11 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 3px;
    display: flex;
  }
  
  .gtujfecaxmozj {
    margin-top: 1px;
    margin-right: 9px;
  }
  
  .rectangle-67-5 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border: 2px solid #f0ae87;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  .group-79-6 {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .line-1911 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
  }
  
  .flex-container-12 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 1px;
    margin-left: 3px;
    display: flex;
  }
  
  .zkwanrmshlkoy {
    margin-top: 1px;
    margin-right: 9px;
  }
  
  .group-80-4 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-left: 5px;
  }
  
  .group-79-7 {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .line-195 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    margin-top: 1px;
  }
  
  .flex-container-13 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 3px;
    display: flex;
  }
  
  .sznjrfnnipquf {
    margin-top: 1px;
    margin-right: 9px;
  }
  
  .group-80-5 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-left: 5px;
  }
  
  .group-79-8 {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .line-196 {
    width: 310px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    margin-bottom: 1px;
  }