.gdaqrtixmcquk {
  color: #818080;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 17px;
  font-family: Inter, Arial;
  font-size: .6rem;
  font-weight: 400;
  line-height: 15px;
  display: flex;
}

.tbkhmpfsvuyyn {
  width: 22px;
  height: 22px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin-left: 15px;
}

.vajetnekyhnpm {
  color: #ba5a23;
  margin-left: 16px;
  font-size: 1rem;
  font-weight: 900;
  line-height: 24px;
}

.line-9 {
  width: 319px;
  height: 2px;
  object-fit: cover;
  border: 2px solid #d9d9d9;
  align-self: center;
}

.flex-container {
  color: #000;
  width: 75%;
  flex-direction: row;
  flex-basis: 8%;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 318px;
  margin-left: 15px;
  display: flex;
}

.flex-container-1 {
  height: 75%;
  flex-direction: row;
  flex-basis: 14%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
  display: flex;
}

.ellipse-18 {
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-right: -40px;
}

.pngegg-2 {
  width: 25px;
  height: 27px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin-left: -5px;
}

.rectangle-77 {
  height: 100%;
  background-color: #fff;
  border: 2px solid #d9d9d9;
  border-radius: 11px;
  flex-direction: row;
  flex-basis: 81%;
  justify-content: center;
  align-items: center;
  padding-right: 2px;
  display: flex;
}

.line-25 {
  width: 360px;
  height: 2px;
  object-fit: cover;
  border: 2px solid #d9d9d9;
  margin-top: 63px;
}

.rectangle-78 {
  width: 100%;
  background-color: #fff;
  flex-direction: row;
  flex-basis: 7%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1px;
  padding-left: 21px;
  padding-right: 17px;
  display: flex;
}

.rbtlgethhlksp {
  margin-top: 1px;
}

.pngegg-1-1 {
  width: 19px;
  height: 22px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}