.wfjtchxelsmui {
    color: #000;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 4px 1px 68px 13px;
    font-family: Inter, Arial;
    font-size: .65rem;
    font-weight: 400;
    line-height: 16px;
    display: flex;
  }
  
  .kgfpyfzehvugr {
    width: 22px;
    height: 22px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 2px;
  }
  
  .kewyizpxeayqs {
    color: #ba5a23;
    margin-top: 1px;
    margin-bottom: 8px;
    margin-left: 3px;
    font-size: 1rem;
    font-weight: 900;
    line-height: 24px;
  }
  
  .line-11 {
    width: 333px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    align-self: center;
    margin-bottom: 8px;
  }
  
  .flex-container {
    width: 90%;
    flex-direction: row;
    flex-basis: 3%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    margin-top: 1px;
    display: flex;
  }
  
  .num-25-1419 {
    margin-top: 1px;
  }
  
  .rectangle-81 {
    height: 100%;
    background-color: #fff;
    border: 1px solid #fc833d;
    border-radius: 4px;
    flex-direction: row;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .zexkaqnfttugc {
    margin-left: 3px;
    font-size: .75rem;
    line-height: 18px;
  }
  
  .flex-container-1 {
    width: 90%;
    flex-direction: row;
    flex-basis: 2%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    display: flex;
  }
  
  .tkxcbcnarhhsv {
    align-self: flex-end;
  }
  
  .flex-container-2 {
    width: 90%;
    flex-direction: row;
    flex-basis: 2%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    margin-bottom: 1px;
    display: flex;
  }
  
  .zqzpfskqztwyw {
    align-self: flex-end;
  }
  
  .rectangle-30 {
    color: #fff;
    width: 90%;
    background-color: #fc833d;
    border: none;
    border-radius: 7px;
    flex-direction: row;
    flex-basis: 6%;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-bottom: 3px;
    padding-top: 1px;
    padding-right: 1px;
    font-family: Inter, Arial;
    font-size: .8rem;
    font-weight: 500;
    line-height: 19px;
    display: flex;
  }
  
  .line-10 {
    width: 333px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    align-self: center;
    margin-top: 1px;
    margin-bottom: 5px;
  }
  
  .flex-container-3 {
    width: 90%;
    flex-direction: row;
    flex-basis: 3%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    display: flex;
  }
  
  .num-26-1111 {
    margin-top: 1px;
  }
  
  .rectangle-81-1 {
    height: 100%;
    background-color: #fff;
    border: 1px solid #fc833d;
    border-radius: 4px;
    flex-direction: row;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .tksxkbyrsfgzn {
    margin-left: 3px;
    font-size: .75rem;
    line-height: 18px;
  }
  
  .flex-container-4 {
    width: 90%;
    flex-direction: row;
    flex-basis: 2%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    display: flex;
  }
  
  .sdkvcmrfhjpep {
    align-self: flex-end;
  }
  
  .flex-container-5 {
    width: 90%;
    flex-direction: row;
    flex-basis: 2%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    margin-bottom: 5px;
    display: flex;
  }
  
  .qisntmnnwiknt {
    align-self: flex-end;
  }
  
  .lwmrnuuyqgyst {
    margin-left: 3px;
    font-size: .75rem;
    line-height: 18px;
  }
  
  .flex-container-6 {
    width: 90%;
    flex-direction: row;
    flex-basis: 2%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    margin-bottom: 1px;
    display: flex;
  }
  
  .kefoxpdpobxpz {
    align-self: flex-end;
  }
  
  .rectangle-30-1 {
    color: #fff;
    width: 90%;
    background-color: #fc833d;
    border: none;
    border-radius: 7px;
    flex-direction: row;
    flex-basis: 6%;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 4px;
    padding-top: 1px;
    padding-right: 1px;
    font-family: Inter, Arial;
    font-size: .8rem;
    font-weight: 500;
    line-height: 19px;
    display: flex;
  }
  
  .line-101 {
    width: 333px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    align-self: center;
    margin-bottom: 2px;
  }
  
  .flex-container-7 {
    width: 90%;
    flex-direction: row;
    flex-basis: 3%;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    display: flex;
  }
  
  .num-29-1644 {
    margin-bottom: 1px;
  }
  
  .rectangle-81-2 {
    height: 100%;
    background-color: #fff;
    border: 1px solid #fc833d;
    border-radius: 4px;
    flex-direction: row;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .muoknjuoulwra {
    margin-left: 3px;
    font-size: .75rem;
    line-height: 18px;
  }
  
  .flex-container-8 {
    width: 90%;
    flex-direction: row;
    flex-basis: 2%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    display: flex;
  }
  
  .zmseodbjcmkot {
    align-self: flex-end;
  }
  
  .flex-container-9 {
    width: 90%;
    flex-direction: row;
    flex-basis: 2%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    margin-bottom: 1px;
    display: flex;
  }
  
  .peiiffsrxkewb {
    align-self: flex-end;
  }
  
  .line-102 {
    width: 333px;
    height: 2px;
    object-fit: cover;
    border: 2px solid #d9d9d9;
    align-self: center;
    margin-bottom: 4px;
  }